<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FollowFolders</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/f4c2c61264.js" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-900">
    <header class="border-solid border-b-2 border-b-slate-300 mb-4 p-4">
        <a href="/folders/" class="text-5xl text-white my-4">FollowFolders</a><h1 class="inline text-5xl text-white">@index.ejs</h1>
    </header>
    <section class="p-4">
        <a href="/login" class="text-white rounded border-2 py-2 px-8 hover:bg-white hover:text-slate-700">Login</a>
        <a href="/signup" class="text-white rounded border-2 py-2 px-8 hover:bg-white hover:text-slate-700"> Signup</a>
    </section>
    <!-- <button class="text-white h-40 w-40 border-2 rounded">test button</button> -->
</body>
</html>