<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Follow Folders for Twitch</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="/style.css">
    <!-- <script src="https://kit.fontawesome.com/f4c2c61264.js" crossorigin="anonymous"></script> -->

    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>


</head>

<body class="bg-gray-900 text-white">
    <!-------------------->
    <!-- Header section -->
    <!-------------------->
    <header class="py-4 border-solid border-b-2 border-b-slate-300 text-white">
        <!-- <h1 class="text-5xl text-white m-4">FollowFolders @folders.ejs</h1> -->
        <a href="/folders/" class="text-5xl text-white m-4">FollowFolders</a>
        <!-- <h1 class="inline text-5xl text-white">@folders.ejs</h1> -->
    
    </header>
    <section class="flex flex-col items-center h-96 justify-center">
        <% if(messages.error) { %>
            
            <div class="m-4 p-4 outline rounded"><%= messages.error %></div>
        <% } %>
        <% if(messages.info) { %>
            
            <div class="m-4 p-4 outline rounded"><%= messages.info %></div>
        <% } %>
        <% if(messages.success) { %>
            
            <div class="m-4 p-4 outline rounded"><%= messages.success %></div>
        <% } %>
        <form action="/reset" method="post" class="m-4 text-white outline outline-white p-10 rounded flex flex-col items-center">
            <legend class="mx-4 mb-12 text-4xl tracking-wide">Password reset</legend>
            <!-- <label for="email" class="mx-4 text-2xl">Email</label> -->
            <!-- <input type="email" name="email" class="p-1 text-black rounded"> -->

            <input type="text" name="password" class="mx-4 w-64" placeholder="password">
            <br>
            
            <button type="submit" class="m-5 relative top-1 px-12 text-2xl outline rounded hover:text-sl">Reset Password</button>
        </form>
    </section>


</body>